.header {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 999;
  &__inner {
    max-width: 1200px;
    height: 80px;
    margin: auto;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
  }
  &__content-wrapper {
    display: flex;
  }
  &__logo {
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 2px;
  }
}

.navigator {
  display: flex;
  margin-left: auto;
  &__item {
    text-decoration: none;
    color: #222;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    transition: all .3s ease;
    &:hover {
      cursor: pointer;
      color: #ffba00;
    }
  }
}